body {
  margin: 30px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
  padding-top: 15px;
}

img {
    max-width: 100%;    
}

figure {
    margin: 0;
    padding: 5px 15px 20px;
}

p {
  text-align: justify;
}

.container {
  padding-left: 10%;
}

@media screen and (min-width: 700px) and (max-width: 1027px) {
  body {
    background-color: blanchedalmond;
    margin: 40px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size:30px;
    padding-top: 30px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;    
    padding-left: 30px;
  }
  .figura {
    flex-basis: 40%;    
  }
}

@media screen and (min-width: 1028px) {
  html {
    box-sizing: border-box;
    max-width: fit-content;
  }
  body {
    background-color:cornsilk;
    margin: 50px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size:35px;
    padding-top: 30px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;    
    padding-left: 30px;
  }
  .figura {
    flex-basis: 40%;    
  }
}